body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

/* Header Styles */
.top-bar {
  display: flex;
  background-color: #f3f4fa;
  padding: 0.5em 0em;
  justify-content: space-between;
  align-items: center;
}

.top-bar .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 10%;
}

.top-bar nav {
  display: flex;
  margin-right: 15px;
}

.top-bar nav a {
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Source Han Serif VF';
  font-size: 0.8em;
  color: #b8b8bb;
}

.search {
  display: flex;
  align-items: center;
}

.ser_ipt {
  padding: 5px;
  border: 1px solid #ccc;
  border-right: none;
  width: 200px;
  border-radius: 20px 0 0 20px;
  background-color: #6871AD;
  height: 16px;
}

.ser_ipt::placeholder {
  color: #f0f0f0;
  padding-left: 10px;
}

.ser_btn {
  background-color: #6871AD;
  border: 0px solid #6871AD;
  border-radius: 0 20px 20px 0;
  border-left: none;
  cursor: pointer;
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.ser_btn img {
  width: 12px;
  height: 12px;
}

.main-header {
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 20px;
}

.header-text {
  flex: 1;
}

.header-text p {
  margin: 0;
  margin-left: 10%;
  font-size: 17px;
  font-family: 'Source Han Serif VF';
  font-weight: bold;
  color: #3d55a7;
}

.header-text p:last-child {
  margin: 0;
  font-size: 15px;
  text-align: right; 
  color: #98a1bf;
}

.main-nav {
  background-color: #3d55a7;
  padding: 0.8em 0;
  text-align: justify;
}

.main-nav .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.main-nav a {
  margin: auto;
  text-decoration: none;
  color: white;
  font-family: 'Source Han Serif VF';
  transition: transform 0.3s, color 0.3s;
}

.main-nav a:hover,
.main-nav a.active {
  transform: scale(1.25);
  color: #f0f0f0;
  font-weight: bold;
}

.banner-text {
  color: #3d55a7;
  text-align: center;
  padding: auto;
  font-family: 'Source Han Serif VF';
  line-height: 0.5;
  font-size: 2em;
  font-weight: bold;
}

/* Banner Styles */
.banner {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  width: 300%;
  animation: carousel 10s infinite;
}

.banner img {
  width: 33.333%;
  height: auto;
  max-height: 5%;
  object-fit: cover;
}

@keyframes carousel {
  0% {
      transform: translateX(0);
  }
  30% {
      transform: translateX(0);
  }
  33% {
      transform: translateX(-33.333%);
  }
  63% {
      transform: translateX(-33.333%);
  }
  66% {
      transform: translateX(-66.666%);
  }
  96% {
      transform: translateX(-66.666%);
  }
  100% {
      transform: translateX(0);
  }
}

/* Main Content Styles */
.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 2em; 
}

.news {
  grid-column: 1;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d55a7;
  padding: 0.5em;
  margin-bottom: 0.2em;
}

.news-tabs {
  display: flex;
  font-family: 'Source Han Serif VF';
  font-weight: bold;
  font-size: larger;
}

.news-tab {
  padding: 0.5em 0.75em;
  background-color: #3d55a7;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.news-tab.active {
  background-color: #B3483E;  /* red when active */
}

.news-tab:hover {
  background-color: #B3483E;  /* turn red when hover */
}

.more-link1 {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Source Han Serif VF';
  font-size: 0.8em;
  margin-right: 1em;
}

.news-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  margin-top: 1em;
}

.featured-news {
  background-color: #f0f0f0;
  padding: 1em;
  height: fit-content;
}

.featured-news img {
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.featured-news-info h3 {
  font-size: 0.9em;
  font-family: 'Source Han Serif VF';
  font-weight: lighter;
  margin-bottom: 0;
}

.featured-news-info p {
  text-align: right;
  margin: auto;
}

.featured-news-info .date {
  color: #C7C9CD;
  font-size: 0.975em;
  font-family: 'Source Han Serif VF';
  font-weight: bolder;
}

.featured-news-info .year {
  color: #C7C9CD;
  font-size: 0.6em;
  font-family: 'Source Han Serif VF';
}

.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0 1em;
}

.news-list li {
  margin-bottom: 0.5em;
}

.news-list a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Source Han Serif VF';
}

.news-list a:before {
  content: "> ";
  color: #4a69bd;
}

/* Sidebar styles */

.sidebar {
  grid-column: 2;
}
.院长致辞 {
  margin-bottom: 10px;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.image-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.image-link {
  width: 49%;
  position: relative;
  overflow: hidden;
}

.image-link img {
  width: 100%;
  height: auto;
  display: block;
}

.image-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px 10px;
  font-size: 1em;
  font-family: 'Source Han Serif VF';
  border-radius: 3px;
}

.image-link:hover .image-text {
  background-color: rgba(0, 0, 0, 0.8);
}

.通知公告 {
  background-color: white;
  border: 1px solid #4a69bd;
  padding: 1em;
}

.notice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  background-color: #F4F7FE;
}

.notice-tabs {
  display: flex;
}

.notice-tab {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #F4F7FE;
  margin-right: 5px;
  cursor: pointer;
  font-family: 'Source Han Serif VF';
}

.notice-tab.active {
  background-color: #E5ECFC;
  color: black;
}

.notice-tab:not(.active):hover {
  background-color: #E5ECFC;
}

.notice-icon, .conference-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.notice-tab span {
  font-size: 14px;
}

.more-link3 {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
  font-family: 'Source Han Serif VF';
  margin-right: 1em;
}

.notice-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notice-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.notice-list .date {
  color: black;
  font-size: 0.975em;
  font-family: 'Source Han Serif VF';
  font-weight: bolder;
  margin-right: 0.2em;
  white-space: nowrap;
}

.notice-list .year {
  color: black;
  font-size: 0.7em;
  font-family: 'Source Han Serif VF';
  margin-right: 1em;
  white-space: nowrap;
}

.notice-list a {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
  font-family: 'Source Han Serif VF';
  line-height: 1.4;
  flex: 1;
}

.notice-list a:hover {
  color: #4a69bd;
}

/* Middle Section */
.additional-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  gap: 2em;
}

.section-left {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-right {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
}

.section-header {
  display: flex;
  align-items: center;
  border-top: 2px solid #3d55a7;
  margin-bottom: 1em;
}

.section-tabs {
  display: flex;
  align-items: center;
}

.section-tab {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  color: black;
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
  font-family: 'Source Han Serif VF';
  border-top: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.section-tab .tab-icon {
  width: 1.75em; 
  height: 1.75em;
  margin: auto;
}

.section-tab.active {
  border-top: 2px solid #3d55a7;
  font-weight: bold;
}

.section-tab:not(.active):hover {
  border-top: 2px solid #3d55a7;
  font-weight: bold;
  color: #3d55a7;
}

.more-link2 {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
  font-family: 'Source Han Serif VF';
  margin-left: auto;
}

.section-content {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 2em;
  flex: 1;
}

.main-image {
  width: 100%;
  height: auto;
}

.image-caption {
  margin-top: 0.5em;
  font-size: 1em;
  font-family: 'Source Han Serif VF';
  font-weight: bold;
  text-align: left;
}

.text-content {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.progress-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.progress-list li {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 0.5em;
}

.progress-list a:before {
  content: "> ";
  color: #4a69bd;
}

.progress-list a {
  color: #333;
  text-decoration: none;
  font-family: 'Source Han Serif VF';
  line-height: 1.4;
  margin-right: 1em;
}

.progress-list .date {
  color: #999;
  font-size: 0.7em;
  font-family: 'Source Han Serif VF';
  margin-left: 1em;
  margin-right: 1em;
}

.section-right .video-thumbnail {
  position: relative;
  margin-bottom: 1em;
}

.section-right .video-thumbnail img {
  width: 100%;
  height: auto;
}

.section-right .video-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
  box-sizing: border-box;
}

.section-right .video-info .video-date {
  font-size: 0.9em;
  font-family: 'Source Han Serif VF';
  margin-bottom: 5px;
}

.section-right .video-info .video-description {
  font-size: 0.9em;
  font-family: 'Source Han Serif VF';
}

.section-right .short-videos {
  display: flex;
  justify-content: space-between;
}

.section-right .short-videos img {
  width: 48%;
  height: auto;
}


/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
